<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Autenticación Segura</title>
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='css/style.css' ) }}">
</head>

<body>
    <h2>Login</h2>
    <form id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <h2>Register</h2>
    <form id="registerForm">
        <label for="username">Username:</label>
        <input type="text" id="reg_username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="reg_password" name="password" required>
        <button type="submit">Register</button>
    </form>
    <script src="{{ url_for('static', filename='js/script.js' ) }}"></script>
</body>

</html>